@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import 'variables/variables';
@import 'mixin/mixin';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: $blue;
	color: $white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.btn {
	background-color: $beige;
	color: $blue;
	padding: 20px;
	border-radius: 8px;
	border: 0px;
}

.btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.btn:active {
	background-color: $white;
	text-decoration: none;
}

a {
	color: $blue;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
	color: $beige;
}

input[type='text'],
input[type='tel'] {
	padding: 19px 33px;
	position: relative;
	border: 1px solid rgba(0, 40, 86, 0.5);
	border-radius: 5px;

	&::before {
		content: '';
		width: 30px;
		height: 30px;
		background-color: $beige;
		position: absolute;
		top: 10px;
		left: 0px;
	}
}

.line {
	height: 1px;
	width: 100%;
	background-color: $beige;
}

.stars {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;

	svg {
		path {
			fill: #ffcc00;
		}
	}

	&-small {
		width: 120px;
	}

	&__disactive {
		svg {
			path {
				fill: #d8d8d8;
			}
		}
	}
}

@import 'blocks/fonts';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/slider';
@import 'blocks/steps';
@import 'blocks/services';
@import 'blocks/forma';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/cases';
@import 'blocks/case';
@import 'blocks/servicesPage';
@import 'blocks/review';
@import 'blocks/about';
@import 'blocks/prices';


@import 'blocks/media';