@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import 'variables/variables';
@import 'mixin/mixin';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: $blue;
	color: $white;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.btn {
	background-color: $beige;
	color: $blue;
	padding: 20px;
	border-radius: 8px;
}

.btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.btn:active {
	background-color: $white;
	text-decoration: none;
}

a {
	color: $blue;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
	color: $beige;
}


@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/slider';
@import 'blocks/fonts';
@import 'blocks/media';