.about {
	&__body {
		padding: 100px 0px;
		color: $blue;
		background-color: $white;
	}

	&__values {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 auto;
		width: 900px;
	}

	&__value {
		width: 290px;
		height: 325px;
		padding: 20px 18px;
		border: 1px solid #C1AA8C;
		border-radius: 8px;
		text-align: center;

		&-heading {
			margin-top: 20px;
		}

		&-text {
			text-align: left;
			margin-top: 40px;
		}
	}

	&__desc {
		margin: 100px 0 75px 0;
	}

	&__forma {
		width: 720px;
		height: 632px;
		margin: 100px auto;
		padding: 50px 86px;

		border: 1px solid #C1AA8C;
		border-radius: 8px;

		&-text {
			margin-top: 30px;
		}

		&-items {
			margin: 50px 0px;
			display: grid;
			grid-template-columns: repeat(2, 285px);
			grid-template-rows: auto;
			row-gap: 30px;
			column-gap: 20px;
		}

		&-item {
			input {
				width: 100%;
			}

			.btn-tertiary {
				display: block;
				color: $blue;
				font-size: 14px;
				text-decoration: dotted;
			}

			.input-file {
				width: .1px;
				height: .1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			.input-file+.js-labelFile {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0 10px;
				cursor: pointer;
			}
		}

		&-btn {
			width: 285px;
			margin: 0 auto;
			text-align: center;
		}
	}
}