.article {
	&__block {
		position: relative;
	}

	&__img {

		min-height: 410px;
		padding: 40px 0 80px 0;

		&-category {
			padding: 13px 52px;
			background: rgba(0, 40, 86, 0.5);
			border-radius: 8px;
			width: 270px;
			text-align: center;
			margin-bottom: 30px;
		}

		&-wrapper {
			position: absolute;
			bottom: 0px;
			right: 0px;
			display: grid;
			grid-template-columns: repeat(2, auto);
			column-gap: 20px;
			justify-content: flex-end;
		}

		&-date,
		&-source {
			color: $white;
		}
	}

}