.cases {
	background-color: $white;
	color: $blue;
	padding: 100px 0 100px 0;

	&__desc {
		margin-top: 40px;
		color: $white;
		background-color: $blue;
		border-radius: 8px;
		padding: 19px 15px;
	}

	&__items {
		margin-top: 50px;
	}

	&__item {
		padding: 40px 15px;
		border: 1px solid $beige;
		border-radius: 8px;
		margin: 50px auto;

		&-img {
			position: relative;
		}

		&-alt {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $blue50;
			border-radius: 8px;
			padding: 13px 51px;
			color: $white;
		}

		&-block {
			margin-top: 29px;
			display: grid;
			grid-template-columns: 423px auto;
			column-gap: 21px;
		}

		&-text {
			position: relative;
		}

		&-more {
			position: absolute;
			top: 181px;
			right: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 132px;
			height: 35px;
			border: 1px solid #C1AA8C;
			border-radius: 8px;
			text-transform: none;

			&:hover {
				background-color: $beige;
			}
		}
	}
}