.case {
	&__head {
		padding: 100px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 371px;
		}
	}

	&__body {
		background: $white;
		padding: 100px 0;
	}

	&__item {
		width: 100%;
		border: 1px solid $beige;
		border-radius: 8px;
		padding: 40px 15px;
		margin-bottom: 50px;

		&-head {
			display: grid;
			grid-template-columns: 60px auto;
			column-gap: 60px;
		}

		&-heading {
			color: $blue;
		}

		&-text {
			margin-top: 40px;
		}
	}

	&__btn {
		width: 285px;
		margin: 50px auto;
		text-align: center;
		text-transform: none;
	}
}