.forma {
	padding: 80px 0;

	&__wrapper {
		background-color: $white;
		width: 85%;
		margin: 0 auto;
		transform: skewX(-15deg);
		text-align: center;
		color: $blue;
		padding: 60px 0px;

		&-skew {
			transform: skewX(15deg);
		}
	}

	&__heading {
		margin-bottom: 20px;
	}

	&__order {
		max-width: 920px;
		margin: 80px auto 0px auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, 285px);
		column-gap: 20px;
		row-gap: 20px;
		justify-content: center;
	}

	&__agreement {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			margin-right: 2px;
		}
	}
}