@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.nav {
		&__item {
			&::after {
				right: -23px;
				height: 30px;
				top: -27%;
			}
		}
	}

	.slider {
		&__text {
			width: 89%;
			margin: 0 auto;
			padding: 0 35px;
		}
	}

	.btn {
		padding: 15px;
	}

	.typography {
		font-size: 40px;
		line-height: 52px;
	}

	.heading_1 {
		font-size: 41px;
		line-height: 44px;
	}

	.heading_2 {
		font-size: 40px;
		line-height: 47px;
	}

	.heading_3 {
		font-size: 18px;
		line-height: 23px;
	}


	.text_1 {
		font-size: 24px;
		line-height: 31px;
	}

	.text_2 {
		font-size: 16px;
		line-height: 20px;
	}

	.text_3 {
		font-size: 14px;
		line-height: 120%;
	}

	.link {
		font-size: 16px;
		line-height: 21px;
	}

	.number {
		font-size: 18px;
		line-height: 20px;
	}

	.text_btn {
		font-size: 18px;
		line-height: 23px;
	}

	.link_2 {
		font-size: 10px;
		line-height: 120%;
	}

	.steps {
		&__wrapper {
			flex-wrap: wrap;
		}

		&__step {
			margin-bottom: 40px;
			min-width: 30%;
		}
	}

	.contacts {
		&__wrapper {
			grid-template-columns: 360px auto;
			column-gap: 20px;

			&-map {
				display: flex;
				align-items: center;

				img {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width:992px) {
	.container {
		max-width: 720px;
	}

	.nav {
		&__item {
			&::after {
				right: -15px;
				height: 23px;
				top: -17%;
			}
		}
	}

	.btn {
		padding: 10px 15px;
	}

	.slider {
		&__text {
			height: 160px;
		}
	}

	.typography {
		font-size: 40px;
		line-height: 52px;
	}

	.heading_1 {
		font-size: 30px;
		line-height: 35px;
	}

	.link {
		font-size: 14px;
		line-height: 18px;
	}

	.services {
		&__items {
			justify-content: center;
		}
	}

	.forma {
		&__wrapper {
			transform: none;
			border-radius: 8px;
			padding: 60px 15px;

			&-skew {
				transform: none;
			}
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 377px repeat(5, auto);
		}
	}
}

@media(max-width:768px) {
	.container {
		max-width: 540px;
	}

	.header {
		&__wrapper {
			flex-direction: column;
		}

		&__logo {
			margin-bottom: 20px;
		}
	}

	.contacts {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 80%);
			justify-content: center;
			text-align: center;
		}

		&__text {
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.footer {
		&__wrapper {
			text-align: center;
			grid-template-columns: 520px repeat(auto-fit, 110px);
		}
	}
}

@media(max-width:575px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}

	.heading_1 {
		font-size: 25px;
		line-height: 30px;
	}

	.header {
		&__logo {
			margin: 0 auto;
		}

		&__wrapper-contact {
			display: none;
		}
	}

	.nav {
		display: none;
	}

	.slider {
		margin-top: 20px;
		height: 300px;

		&__text {
			padding: 10px 20px;
		}
	}

	.steps {
		&__wrapper {
			flex-wrap: wrap;
		}

		&__step {
			margin: 20px auto;
			width: 80%;
		}

		&__vert-line {
			display: none;
		}
	}
}