@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.nav {
		&__item {
			&::after {
				right: -23px;
				height: 30px;
				top: -27%;
			}
		}
	}

	.slider {
		&__text {
			width: 89%;
			margin: 0 auto;
			padding: 0 35px;
		}
	}

	.btn {
		padding: 15px;
	}

	.typography {
		font-size: 40px;
		line-height: 52px;
	}

	.heading_1 {
		font-size: 41px;
		line-height: 44px;
	}

	.heading_2 {
		font-size: 40px;
		line-height: 47px;
	}

	.heading_3 {
		font-size: 18px;
		line-height: 23px;
	}


	.text_1 {
		font-size: 24px;
		line-height: 31px;
	}

	.text_2 {
		font-size: 16px;
		line-height: 20px;
	}

	.text_3 {
		font-size: 14px;
		line-height: 120%;
	}

	.link {
		font-size: 16px;
		line-height: 21px;
	}

	.number {
		font-size: 18px;
		line-height: 20px;
	}

	.text_btn {
		font-size: 18px;
		line-height: 23px;
	}

	.link_2 {
		font-size: 10px;
		line-height: 120%;
	}

	.steps {
		&__wrapper {
			flex-wrap: wrap;
		}

		&__step {
			margin-bottom: 40px;
			min-width: 30%;
		}
	}

	.contacts {
		&__wrapper {
			grid-template-columns: 360px auto;
			column-gap: 20px;

			&-map {
				display: flex;
				align-items: center;

				img {
					width: 100%;
				}
			}
		}
	}

	.case {
		&__img {
			img {
				max-width: 100%;
			}
		}
	}
}

@media (max-width:992px) {
	.container {
		max-width: 720px;
	}

	.nav {
		&__item {
			&::after {
				right: -15px;
				height: 23px;
				top: -17%;
			}
		}
	}

	.btn {
		padding: 10px 15px;
	}

	.slider {
		&__text {
			height: 160px;
		}
	}

	.typography {
		font-size: 40px;
		line-height: 52px;
	}

	.heading_1 {
		font-size: 30px;
		line-height: 35px;
	}

	.link {
		font-size: 14px;
		line-height: 18px;
	}

	.services {
		&__items {
			justify-content: center;
		}
	}

	.forma {
		&__wrapper {
			transform: none;
			border-radius: 8px;
			padding: 60px 15px;

			&-skew {
				transform: none;
			}
		}
	}

	.contacts {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 80%);
			justify-content: center;
			text-align: center;
		}

		&__text {
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.footer {
		&__wrapper {
			grid-template-columns: 377px repeat(5, auto);
		}
	}

	.about {
		&__values {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-around;
			margin: 0px;
		}

		&__value {
			margin: 15px 0;
		}
	}

	.cases {
		padding: 50px 0 50px 0;

		&__item {
			text-align: center;

			&-block {
				grid-template-columns: 100%;
				row-gap: 10px;
			}

			&-alt {
				left: 50%;
				transform: translateX(-50%);
				font-size: 14px;
				padding: 5px 30px;
			}

			&-more {
				position: unset;
				top: 0;
				left: 0;
				margin: 25px auto 0 auto;
			}
		}

	}

	.review {
		&__forma {
			width: 100%;
			margin: 40px auto 50px auto;

			&-wrapper {
				grid-template-columns: 255px auto;
				gap: 10px 20px;
			}
		}

		&__heading_2 {
			margin-top: 50px;
		}

		&__blocks {
			padding: 30px 0 40px 0;
		}

		&__block {
			padding: 30px 23px 30px 24px;

			&-name {
				margin-left: 20px;
			}

			&-text {
				margin-left: 47px;

				&::before {
					height: 124px;
					top: 0px;
					left: -27px;
				}
			}
		}
	}
}

@media(max-width:768px) {
	.heading_2 {
		font-size: 30px;
		line-height: 34px;
	}

	.container {
		max-width: 540px;
	}

	.header {
		&__wrapper {
			flex-direction: column;
		}

		&__logo {
			margin-bottom: 20px;
		}
	}

	.footer {
		padding: 40px 0 30px 0;

		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__block1 {
			text-align: center;
		}

		&__block2,
		&__block3 {
			display: none;
		}

		&__social {
			display: flex;
			width: 180px;
			justify-content: space-around;
			align-items: center;
		}

		&__line {
			margin-top: 30px;
		}
	}

	.about {
		&__forma {
			margin: 50px auto;
			width: 95%;
			height: auto;
			padding: 30px 45px;

			&-text {
				margin-top: 15px;
			}

			&-items {
				display: flex;
				flex-direction: column;
				margin: 20px 0;
				row-gap: 15px;
			}

			&-btn {
				margin: 0 auto;
				width: 200px;
			}
		}

		&__desc {
			margin: 50px 0;
		}
	}

	.case {
		&__head {
			padding: 40px 0;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__body {
			padding: 50px 0;
		}

		&__heading {
			margin-bottom: 25px;
		}

		&__item {
			padding: 23px 15px;

			&-head {
				column-gap: 20px;
			}

			&-text {
				margin-top: 20px;
			}
		}
	}

	.price {
		&__head {
			&::before {
				right: 165px;
			}

			&-title {
				width: 80%;
			}

			&-price {
				width: 20%;
				text-align: center;
			}
		}

		&__body {
			padding: 25px 35px;

			&-item {
				padding: 10px 10px 20px 15px;
				width: 31%;
				height: 131px;
			}

			&-text {
				ul {
					margin: 10px 0 0 20px;

					li {
						margin-bottom: 10px;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}

	.blog {
		&__categories {
			margin: 50px 0;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__category {
			margin-bottom: 15px;
		}
	}

	.article {
		&__img {
			min-height: 310px;
			padding: 20px 0 40px 0;
		}
	}
}

@media(max-width:575px) {
	svg {
		width: 100%;
	}

	.container {
		max-width: 100%;
		padding: 0 10px;
	}

	.typography {
		font-size: 40px;
		line-height: 52px;
	}

	.heading_1 {
		font-size: 21px;
		line-height: 27px;
	}

	.heading_2 {
		font-size: 28px;
		line-height: 30px;
	}

	.heading_3 {
		font-size: 18px;
		line-height: 23px;
	}


	.text_1 {
		font-size: 24px;
		line-height: 31px;
	}

	.text_2 {
		font-size: 16px;
		line-height: 20px;
	}

	.text_btn {
		font-size: 12px;
		line-height: 16px;
	}

	.header {
		position: relative;

		&__logo {
			margin: 0 auto;
		}

		&__wrapper-contact {
			display: none;
		}
	}

	.nav {
		position: absolute;
		top: -30px;
		left: -100%;
		margin-top: 0px;
		width: 70%;

		&_active {
			left: 0px;
			animation: menu-move 3s;
		}

		&_disactive {
			left: -100%;
			animation: menu-back 2.2s;
		}

		@keyframes menu-move {
			from {
				left: -100%;
			}

			to {
				left: 0px;
			}
		}

		@keyframes menu-back {
			from {
				left: 0px;
			}

			to {
				left: -100%;
			}
		}

		&__items {
			background-color: rgba(255, 255, 255, 0.85);
			border-radius: 0px;
			flex-direction: column;
			z-index: 5;
			height: 100vh;
		}

		&__item {
			font-size: 30px;

			a {
				color: $blue;
			}

			&::after {
				display: none;
			}
		}

	}

	.slider {
		margin-top: 20px;
		height: 300px;
		z-index: -1;

		&__text {
			padding: 10px 17px;
		}
	}

	.steps {
		padding: 40px 0 50px 0;

		&__heading {
			margin-top: 40px;
			text-align: center;
		}

		&__wrapper {
			margin-top: 40px;
			flex-wrap: wrap;
		}

		&__step {
			margin: 20px auto;
			width: 80%;
		}

		&__vert-line {
			display: none;
		}

		&__step {
			text-align: center;

			&-num {
				text-align: center;
				font-size: 45px;
			}
		}
	}

	.services {
		padding: 50px 0;

		&__heading {
			text-align: center;
		}

		&__menu {
			margin-top: 30px;

			&-item {
				padding: 5px 10px;
			}
		}

		&__btn {
			margin-top: 40px;
		}
	}

	.contacts {
		padding: 30px 0 30px 0;

		&__heading {
			margin-bottom: 30px;
		}
	}

	.forma {
		&__order {
			margin: 30px auto 0 auto;

			input,
			button {
				width: 80%;
				margin: 0 auto;
				height: 40px;
			}
		}

		&__btn {
			font-size: 14px;
		}
	}

	img {
		max-width: 300px;
	}

	.cases {
		padding: 30px 0 0 0;
	}

	.about {

		&__forma,
		&__desc {
			margin: 30px auto;
		}
	}

	.price {
		&__head {
			&::before {
				right: 140px;
			}

			&-title {
				width: 70%;
			}

			&-price {
				width: 30%;
			}
		}

		&__body {

			&-items {
				flex-direction: column;
			}

			&-item {
				padding: 10px 50px;
				width: 80%;
				text-align: center;
				height: auto;
				margin: 10px auto;
			}

			&-text {
				ul {
					margin: 10px 0 0 20px;

					li {
						margin-bottom: 10px;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}

	.blog {
		&__categories {
			margin: 30px 0;
		}
	}

	.article {
		&__block {
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}

		&__img {
			min-height: 250px;

			&-category {
				margin: 0px auto 25px auto;
			}

			&-wrapper {
				position: unset;
				margin: 15px auto;
			}
		}
	}

	.review {


		&__forma {
			width: 100%;
			margin: 40px auto 50px auto;

			&-wrapper {
				grid-template-columns: 300px;
				grid-template-rows: 60px 60px 120px;
				grid-row: row;
				gap: 10px 20px;

				&-text {
					grid-column: 1;
					grid-row: 3;
				}
			}

			&-block,
			&-btn {
				margin-top: 20px;

			}
		}

		&__heading_2,
		&__heading {
			margin-top: 30px;
		}

		&__blocks {
			padding: 30px 0 40px 0;
		}

		&__block {
			padding: 10px 13px;
			flex-direction: column;
			text-align: center;

			&-name {
				margin-left: 0px;
			}

			&-text {
				margin-left: 0px;

				&::before {
					display: none;
				}
			}
		}

		&__stars {
			margin: 15px auto 5px;
		}
	}
}