.popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	&_active {
		display: block;
	}

	&__forma {
		width: 900px;
		margin: 0px auto;
	}

	&__wrapper {
		top: 200px;
		position: relative;
		background-color: $white;
		width: 85%;
		text-align: center;
		color: $blue;
		padding: 60px 0px;
		border-radius: 8px;

		&-close {
			position: absolute;
			top: 15px;
			right: 30px;
			cursor: pointer;


			&:hover {
				text-decoration: underline;
				color: $beige;
			}
		}
	}

	&__heading {
		margin-bottom: 20px;
	}

	&__order {
		max-width: 920px;
		margin: 30px auto 0px auto;
	}

	&__agreement {
		margin-top: 10px;
		color: $blue50;

		input {
			background-color: $blue50;
			color: $blue50;
			margin-right: 2px;
		}
	}

	&__btn {
		margin-top: 25px;
		font-size: 19px;
	}
}