.steps {
	padding: 90px 0 100px 0;

	&__heading {
		margin-top: 100px;
	}

	&__wrapper {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__step {
		max-width: 210px;
		position: relative;

		&-num {
			color: $beige;
		}

		&-title {
			margin: 25px 0 16px 0;
		}

		&-text {
			color: $white;
		}

		// &:last-child::after {
		// 	display: none;
		// }
	}

	&__vert-line {
		content: '';
		width: 1px;
		height: 138px;
		background-color: $beige;
		align-items: center;
	}


}